<header data-display="flex" data-p="12" data-md-px="12" data-bg="gray-800">
  <h1 data-fs="20" data-ls="2" data-color="gray-100" data-fw="500">raok</h1>

  <div data-display="flex" data-ml="auto" data-mr="72" data-md-mr="24">
    <strong data-ml="12" data-md-ml="6" data-color="white">{{
      username
    }}</strong>
  </div>

  <a
    class="c-link"
    data-color="white"
    data-mr="12"
    data-md-mr="0"
    href="/logout"
  >
    Logout
  </a>
</header>

<main data-max-width="768" data-mx="auto" data-mt="24">
  <section>
    <h2 data-fs="16" data-color="gray-800" data-fw="500">Settings</h2>
    <form method="POST" action="/update-number-of-articles-to-autosend">
      <input type="hidden" name="_csrf" value="{{ _csrf }}" />

      <div data-display="flex" data-cross="end">
        <div
          data-display="flex"
          data-direction="column"
          data-mt="24"
          data-mr="12"
        >
          <label class="c-label" for="numberOfArticlesToAutosend" data-mb="6">
            Number of articles to autosend
          </label>
          <input
            id="numberOfArticlesToAutosend"
            name="numberOfArticlesToAutosend"
            class="c-input"
            type="number"
            min="0"
            max="10"
            value="{{ numberOfArticlesToAutosend }}"
          />
        </div>
        <button class="c-button" data-variant="secondary" type="submit">
          Update
        </button>
      </div>
    </form>
  </section>

  <section data-mt="48">
    <h2 data-fs="16" data-color="gray-800" data-fw="500">Articles</h2>

    <form method="POST" action="/add-article" data-mt="24">
      <input type="hidden" name="_csrf" value="{{ _csrf }}" />

      <div data-display="flex" data-cross="end">
        <div
          data-display="flex"
          data-direction="column"
          data-mr="12"
          data-grow="1"
        >
          <label class="c-label" for="url" data-mb="6">Article URL </label>
          <input id="url" name="url" class="c-input" type="url" data-grow="1" />
        </div>
        <button class="c-button" data-variant="secondary" type="submit">
          Add
        </button>
      </div>
    </form>
  </section>

  <section data-mt="72">
    <div data-display="flex">
      <button
        id="select-all"
        type="button"
        class="c-button"
        data-variant="bare"
      >
        Select all
      </button>
      <button
        id="deselect-all"
        type="button"
        class="c-button"
        data-variant="bare"
      >
        Deselect all
      </button>

      <form
        id="create-newspaper"
        method="POST"
        action="/create-newspaper"
        data-ml="auto"
      >
        <input type="hidden" name="_csrf" value="{{ _csrf }}" />

        <button type="submit" class="c-button" data-variant="primary">
          Create newspaper
        </button>
      </form>
    </div>

    <ul style="list-style: none" data-mt="36">
      {{#each articles}}
      <li
        data-display="flex"
        data-cross="center"
        data-wrap="nowrap"
        data-mt="24"
        data-md-px="6"
      >
        <input
          id="urls"
          name="{{ this.id }}"
          class="c-checkbox"
          type="checkbox"
          data-mr="12"
        />
        <a
          href="{{ this.url }}"
          target="_blank"
          class="c-link"
          data-color="gray-700"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
        >
          {{ this.url }}
        </a>
        <form
          data-ml="auto"
          method="POST"
          action="/delete-article/{{ this.id }}"
        >
          <input type="hidden" name="_csrf" value="{{../_csrf}}" />
          <button type="submit" class="c-button" data-variant="bare">
            Delete
          </button>
        </form>
      </li>
      {{/each}}
    </ul>
  </section>

  <section data-mt="48">
    <h2 data-fs="16" data-color="gray-800" data-fw="500">Newspapers</h2>

    <ul data-mt="36" style="list-style: none">
      {{#each newspapers}}
      <li data-display="flex" data-cross="center" data-mb="24">
        <strong
          data-transform="uppercase"
          data-color="gray-600"
          data-bg="gray-200"
          data-px="6"
          data-br="4"
          data-ls="1"
          data-fs="12"
          >{{ this.status }}</strong
        >
        <span data-ml="12">Newspaper #{{ this.number }}</span>
        <span
          data-fs="14"
          data-color="gray-400"
          data-ml="auto"
          data-timestamp="{{ this.scheduledAt }}"
          data-placement="inside"
        ></span>
      </li>
      {{/each}}
    </ul>
  </section>
</main>
