<header data-display="flex" data-p="12" data-md-px="12" data-bg="gray-800">
  <a href="/">
    <h1 data-fs="20" data-ls="2" data-color="gray-100" data-fw="500">raok</h1>
  </a>

  <a
    class="c-link"
    data-color="white"
    href="/archive"
    data-ml="auto"
    data-mr="24"
  >
    Archive
  </a>

  <a class="c-link" data-color="white" href="/settings" data-mr="24">
    Settings
  </a>

  <div data-display="flex" data-mr="72" data-md-mr="24">
    <strong data-ml="12" data-md-ml="6" data-color="white">
      {{ username }}
    </strong>
  </div>

  <a
    class="c-link"
    data-color="white"
    data-mr="12"
    data-md-mr="0"
    href="/logout"
  >
    Logout
  </a>
</header>

<main
  data-display="flex"
  data-direction="column"
  data-mx="auto"
  data-mt="48"
  data-max-width="768"
>
  <h2 data-fs="24" data-fw="400">Settings</h2>

  <section
    data-display="flex"
    data-direction="column"
    data-mt="48"
    data-pb="24"
    data-bwb="1"
    data-bcb="gray-200"
  >
    <div data-display="flex" data-cross="center" data-mt="24">
      {{#if isArticlesToReviewNotificationEnabled}}
      <strong
        data-transform="uppercase"
        data-color="gray-600"
        data-bg="gray-200"
        data-px="6"
        data-br="4"
        data-ls="1"
        data-fs="12"
        data-mr="12"
      >
        Enabled
      </strong>
      {{else}}
      <strong
        data-transform="uppercase"
        data-color="gray-600"
        data-bg="gray-200"
        data-px="6"
        data-br="4"
        data-ls="1"
        data-fs="12"
        data-mr="12"
      >
        Disabled
      </strong>
      {{/if}}

      <h3 data-fs="16" data-color="gray-600" data-mr="36">
        Articles to review notifications
      </h3>

      {{#if isArticlesToReviewNotificationEnabled}}
      <form method="POST" action="/disable-articles-to-review-notification">
        <button type="submit" class="c-button" data-variant="primary">
          Disable
        </button>
      </form>
      {{else}}
      <form method="POST" action="/enable-articles-to-review-notification">
        <button type="submit" class="c-button" data-variant="primary">
          Enable
        </button>
      </form>
      {{/if}}
    </div>

    <form method="POST" action="/set-articles-to-review-notification-hour" data-mt="36">
      <label class="c-label" for="hour" data-mr="12">Hour</label>
      <select 
        id="hour"
        name="hour"
        class="c-select"
        {{#if isArticlesToReviewNotificationDisabled }}
          disabled
        {{/if}}
      >
        {{#each hours}}
          <option
            value="{{ this.value }}"
            {{#if this.selected}}
              selected
            {{/if}}
          >
            {{ this.label }}
          </option>
        {{/each}}
      </select>
      <button
        {{#if isArticlesToReviewNotificationDisabled }}
          disabled
        {{/if}}
        type="submit"
        class="c-button"
        data-variant="secondary"
        data-ml="24"
      >
        Update
      </button>
    </form>

    {{#if isArticlesToReviewNotificationEnabled }}
      <small data-fs="14" data-color="gray-400" data-mt="24">
        Notification will be sent at {{articlesToReviewNotificationHour.label}} UTC+0 every day.
      </small>
    {{/if}}
  </section>
</main>
